.progress{
  max-width: 568px;
  min-height: 320px;
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 567px) {
  .progress {
    flex-direction: column;
  }
}