.progress__toggle-button {
  background-color: #e0e6ef;
  width: 50px;
  height: 30px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}

.progress__toggle-button::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 200px;
  margin: 2px;
  transition: 0.2s;
}