.progress__toggle-button {
  background-color: #d2d2d2;
  width: 200px;
  height: 100px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}

.progress__toggle-button::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 200px;
  margin: 5px;
  transition: 0.2s;
}