.progress__toggle-input {
  display: none;
}

.progress__toggle-input:checked + .progress__toggle-button {
  background-color: #005BFF;
}

.progress__toggle-input:checked + .progress__toggle-button::before {
  transform: translate(100px);
}
